div#sheet-container {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    border-collapse: collapse;
    border: thin solid black;
}

div.entry {
    float: right;
    width: 100%;
    border: thin solid black;
    box-sizing: border-box;
}

div.label {
    padding: 5px;
    font-weight: bold;
    float: left;
}

div.content {
    padding: 5px;
    float: right;
 }

div#image {
    float: left;
    margin-right: 20px;
}

h1 {
    font-family: "PT Serif", serif;
    text-align: right;
}
